<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Añadir moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <label for="foto"> 
      <img src="/assets/img/img.svg">
    </label>
    <input id="foto" type="file" name="foto" accept="image/*" capture="camera" style="display:none;"/>
  </ion-item>

  <ion-item>
    <label for="marca">Marca</label>
    <ion-input name="marca" [(ngModel)]="marca" slot="end" type="text" placeholder="Marca"></ion-input>
  </ion-item>
  <ion-item>
    <label for="modelo">Modelo</label>
    <ion-input name="modelo" [(ngModel)]="modelo" slot="end" type="text" placeholder="Modelo"></ion-input>
  </ion-item>
  <ion-item>
    <label for="fecha">Año</label>
    <ion-input name="fecha" [(ngModel)]="fecha" type="number" slot="end" placeholder="Fecha"></ion-input>
  </ion-item>
  <ion-item>
    <label for="precio">Precio</label>
    <ion-input name="precio" [(ngModel)]="precio" slot="end" type="number" placeholder="Precio"></ion-input>
  </ion-item>
  <!-- Botón de guardar foto -->
  <ion-button expand="block" (click)="guardarMoto()">Guardar</ion-button>
</ion-content>
