<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button color="light" slot="start" (click)="openMenu()"></ion-menu-button>
    <ion-title>Mis motos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" menuId="menu" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Filtro marcas</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="filtrarPorMarca('Ducati')">
          <ion-img class="ducatiMarca" slot="start" src="assets/img/ducati.png"></ion-img>
          <p>Ducati</p>
        </ion-item>
        <ion-item (click)="filtrarPorMarca('Yamaha')">
          <ion-img class="otrasImg" slot="start" src="assets/img/yamaha.png"></ion-img>
          <p>Yamaha</p>
        </ion-item>
        <ion-item (click)="filtrarPorMarca('Honda')">
          <ion-img class="otrasImg" slot="start" src="assets/img/honda.png"></ion-img>
          <p>Honda</p>
        </ion-item>
        <ion-item (click)="filtrarPorMarca('')">
          <p>Todas</p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-list>
    <ion-item *ngFor="let moto of motos; let index = index"  (click) ="detalleMoto(index)">
      <ion-img src={{moto.foto}}></ion-img>
      <p>{{moto.modelo}} ( {{moto.marca}} )</p>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="anadirMoto()"></ion-icon>
    </ion-fab-button>  
  </ion-fab>
</ion-content>
